@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-input-sm {
    @apply mt-1 block w-full rounded-md border-gray-300 text-sm py-1.5 px-3 leading-5
           focus:border-indigo-500 focus:ring-indigo-500;
  }

  .form-select-sm {
    @apply mt-1 block w-full rounded-md border-gray-300 text-sm py-1.5 px-3 leading-5
           focus:border-indigo-500 focus:ring-indigo-500;
  }

  .form-label-sm {
    @apply block text-[11px] font-medium text-gray-600;
  }
}
